
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './variables.scss';



// \\\\\\\\\\\\\\\\\\\\\\Global 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
body {
    font-family: 'Roboto', sans-serif;
   
}

a {
    text-transform: capitalize !important;
    text-decoration: none;   
}
.group:after {
    display: table;
    content: "";
    clear: both;
}

li {
    list-style: none;
}

///////////////////////// Header 
header {
    background: $green;
    padding: 20px 15px;
    color: white;
    .logo {
        a {
            font-size: 1.6rem;
            color: white;
          
        }
        .fa {
            font-size: 1.6rem;
        }
    }

    nav {
        float: right;
        a {
            font-weight: 300;
            font-size: 0.9rem;
            padding: 10px 20px;
            color: white;

            &:hover{
                color: $pink;
            }
        }
    }
    .menu-logo {
        float: right;
        padding: 10px;
        position: relative;
        top: -2;
        display: none;
        .fa {
            font-size: 1.2rem;
           
        }
    }
}

.logo {
    float: left;
}


a.register-btn {
    border-radius: 5px;
    background: $pink;
    padding: 7px 25px;
    text-align: center;
    color: white !important;


}

/////////// Content Area

#content-area {
    position: relative;
    width: 100%;
    
}


///////////////// Filters 

#filter {
    display: inline-block;
    position: relative;
    background: $grey;
    max-width: 300px;
    height: 1304px;
    float: left;
    width: 30%;

    .inside {
        position: absolute;
        padding: 20px;
        top: 20px;

        h4 {
            border-bottom: solid 1px rgba(0,0,0,0.1);
            color: rgba(0, 0, 0, 0.5);
            text-transform: capitalize;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0 0 25px;
           
        }

        
    select {
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: transparent;
        border-radius: 3px;
        margin: 0 0 25px;
        color: #1b1b1b;
        font-size: 16px;
        display: block;
        outline: none;
        padding: 4px;
        width: 100%;
     

    }
      

     .label {
        font-size: 1.3rem;
        margin:  0 0 5px;
        color: $darkgrey;
        
     }

     
     input[type="text"] {
        
        display: inline-block;
        margin-bottom: 1rem;
        margin-right: 2.5%;
        border-radius: 5px;
        font-size: 1rem;
        padding: .4rem;
        outline: none;
        border: none;
        width: 45%;

    }

    .label-container {
        
        .label-name {
            display: inline-block;
            font-weight: 300;
            font-size: 1.1rem;
            padding: 20px 0;
            width: 80%;
            float: left;
           
            
          
        }

        input[type='checkbox'] {
            position: relative;
            top: 20px;
            width: 20%;
            display: inline-block;
           float: right;
           
        
            
        }
    }

    }


    

     
   
}


.filters .title {
    font-size: 1.3rem;
    margin: 0 0 1rem;
    color: $darkgrey;
    display: block;
   
}




.extras label  {
    margin: 0 0 25px;
    display: block; 
    
}


.extras label input[type="checkbox"]   {
    display: block;
    float: right;
   
     
}

#filter .filter-image-container {
    position: absolute;
    bottom: 0;
    
    img {
        width: 100%;
        
    }
}

.border-design {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0 0 50px;
}



/////////////////// listings area



#listings {
    display: inline-block;
    padding: 15px;
    float: left;
    width: 70%;
     .fa-search {
        padding: 0 10px 0 0;
        font-size: 1.5rem;
        color: $darkgrey;
        opacity: .4;
       
    }
    .fa {
        color: $darkgrey;
        opacity: .4;
    }
    
}


#listings .search-area input[type="text"] {
    border-bottom: 2px solid $grey !important;
    background: transparent;
    color: $lightgrey;
    margin:  0 0 20px;
    font-size: 2rem;
    outline: none;
    border: none;
    width: 70%;
    
}

.sortby-area {
    margin-bottom: 20px;
    .results {
        display: inline-block;
        font-size: .8rem;
        color: $darkgrey;
    }
}


.sort-options {
    float: right;

    select {
        border: 1px solid $lightgrey;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        margin-right: 15px;
        font-size: .9rem;
        font-weight: 300;
        outline: none;
        padding: 5px;
    }
    .view {
        display: inline-block;
        .fa {
            margin-right: 15px;
           font-size: 1.5rem;  
        }
    }
  
}

.listings-results {
    position: relative;
    margin: 0 0 60px;

    .address {
        text-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
        transition: all ease-in-out .5s;
        position: absolute;
        font-size: 1.2rem;
        bottom: 20px;
        opacity: 1;
    }

    
    .listings {
        -webkit-box-shadow: 0 0 15px 0 rgba(224,224,224,1);
        -moz-box-shadow:  0 0 15px 0 rgba(224,224,224,1);
        box-shadow: 0 0 15px 0 rgba(224,224,224,1);
        background: $off-white;
        border-radius: 5px;
    }


}

.listing-img {
   
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-size: cover !important;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 220px;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    &:hover {
        .details {
            opacity: 1;
        }
        .address {
            opacity: 0;
            
        }
    }

  

}

.details {
    background-image: linear-gradient(90deg, rgba(116, 182, 180,.8) 56%, rgba(116, 182, 180, .9) 100%);
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    transition: all ease-in-out .5s;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    position: absolute;
    padding: 30px;
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right:0;
    left:0;
    top:0;
}








.user-img {
    background: url(https://img.pngio.com/user-logos-user-logo-png-1920_1280.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border: 1px solid #fff;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


.user-details {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 20px;
    width: 70%;

    .user-name {
        color: rgba(255,255,255, 1);
        margin: 3px 0 3px 0;
        font-size: 0.9rem;
        font-weight: 300;
        display: block;

    }

    .post-date {
       
        color: rgba(255,255,255, .8);
        font-size: 0.9rem;
        display: block;

    }
  
}


.listing-details {
    margin: 20px 0 0 0;
    .fa {
        display: inline-block;  
        margin: 0 15px 0 0;
      
    }
    span {
        display: inline-block;
        vertical-align: top;
        position: relative;  
        font-weight: 300;
        font-size: .8rem;   
       
    }

    .floor-space span {
        left: 6px;
    }
    .bathrooms span {
        left: 2px;
    }
}



.bottom-info {
    color: $lightgrey;
    padding: 15px;
   

    .price {
        margin: 0 0 10px;
        font-size: 1rem;
        display: block;
        color: $green;
       
        .month-label {
            color: $darkgrey
        }
      
      
    }

    .location {
        font-size: 1.2rem;
        display: block;
        
        .fa {
            padding: 0 5px 0 0;
        }
    }
}

.col-md-3 {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 33%;
}
.col-lg-6 {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 50%;
}



.pagination {
    padding:  0 0 60px;
    text-align: center;
    .pages {
        
        -webkit-box-shadow: 0 0 15px 0 rgba(224,224,224,1);
        -moz-box-shadow:  0 0 15px 0 rgba(224,224,224,1);
        box-shadow: 0 0 15px 0 rgba(224,224,224,1);
        border-radius: 50px !important;
        display: inline-block;
        background: white;

            li {
                transition: all ease-in-out .3s;
                display: inline-block;
                padding: 20px 30px;
                font-weight: 700;
                color: $darkgrey;
              
                &.active, &:hover {
                    border-radius: 1px !important;
                    text-align: center;
                    position: relative;
                    background: $pink;
                    cursor: pointer;
                    color: #fff;
                   
                 
    
                }
            }

            li:first-child {
                background: white !important;
                border-radius: 50px !important;
                color: $darkgrey !important;
               

            }

            li:last-child {
                background: white !important;
                border-radius: 50px !important;
                color: $darkgrey !important;
              

            }     

    }
}

/////////////// MODAL



#modal-section {
    transition: all .3s ease-in-out;
    background: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 10;
    opacity: 0;
}

#modal-section.active {
    background: rgba(0,0,0,0.75);
    visibility: visible;
    opacity: 1;       
}


#modal-section .modal {
    background: white;
    position: relative;
    border-radius: 5px;
    max-width: 600px;
    padding: 20px;
}

#modal-section .modal .close-modal {
    position: relative;
    text-align: center;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    width: 30px;
}

#modal-section .modal .close-modal .fa {
    position: absolute;
    font-size: 1.2rem;
    color: white;
    left: 8px;
    top: 5px;
}

.modal-grid {
    grid-template-columns: 200px 1fr;
    display: grid;
    grid-gap: 20px;
}


.modal .modal-grid .image-container .image {
    background: center center no-repeat;
    background-size: cover;
    height: 100%;
}
.modal .modal-grid .info .info-line span {
  
   font-weight: 300;
   margin: 5px 0 0;
   display: block;
  }

.modal .modal-grid .info .info-line h2 {
  font-weight: 800;
  color: $green;
}
.modal .modal-grid .info p{
    margin: 10px 0 0;
    
  }

/////////////////////footer

footer {
    padding: 60px 50px 0px 50px;
    background: $green;
    position: relative;
    overflow: hidden;
    color: white;
    
   .footer-info {
       text-align: center;
       font-style: italic;
       font-size: .8rem;
      
       .info-1 {
           margin:  0 0 20px;
       }
       .info-2 {
        margin:  0 0 20px;
    }
   }

   .play-stores {
       
       justify-content: center;
       position: relative;
       display: flex;
       top: 30px;
      
    .play-stores-grid {
        grid-template-columns: 150px 150px;
        display: grid;
     
        
           
           .store-logo-1 {
              
               img {
                   width: 150px;
               }
        
           }
              
           .store-logo-2 {
           
           
            img {
                width: 150px;
        
            }
        
        } 
    }   
       

    }

    .extra-info {

        
        text-align: center;
        position: relative;
        top: 90px;

        div {
            text-transform: capitalize;
            display: inline-block;
            margin: 0 auto;
            float: left;
            width: 33.3%;

         
            .l {
                
                font-size: 20px;
                padding: 0 0 0 5px
               
                
                
            }
        }


    }

    .footer-image {
      
        position: relative;
        bottom: -93px;
        
        img {
            display: inline-block;
            width: 50%;
            float: left;
            

        }
    }


 
}
/////// Mobil nav

#mobil-nav {
    overflow: hidden;
    background: $green;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11;
    right:0;
    top: 0;
    bottom: 0;
    left:0;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(68,68,68,0.6);
    -moz-box-shadow: 0px 0px 0px 0px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 0px 0px rgba(68,68,68,0.6);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
    .inside {
        padding: 10px;

        .header-title {
            color: #fff;
            font-size: 1.3rem;
            min-width: 100%;
            background: $pink;
            padding: 10px;
            position: fixed;
            top:0;
            right: 0;
            text-align: center;
            span {
              
            }
            

        }

        .close-nav {
           display: inline-block;
           position: fixed;
           padding: 15px;
           right: 0;
           top: -4px;
           background: red;
           height: 49px;
           width: 45px;
           cursor: pointer;
          
           

           .fa {
               color: #fff;
               font-size: 1.2rem;
               
             

               

           }

        
        }
        nav {
            div {
                font-size: 1.2rem;
                border-bottom: solid 1px $lightgrey;
                padding: 65px 0 50px 0;

                a {
                
                    padding: 10px;
                    color: #fff;
                }

                .fa {
                    color: $lightgrey
                }

            }
        
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 50px 0 0 0;
           
            
            .fa {
               
                color: #fff;
                font-size: 3rem;
                
            }
        }
      
    }

}

#mobil-nav.active {
    transform: translate3d(0, 0, 0);
     -webkit-box-shadow: -1px 0px 5px 0px rgba(68,68,68,0.6);
    -moz-box-shadow: -1px 0px 5px 0px rgba(68,68,68,0.6);
    box-shadow: -1px 0px 5px 0px rgba(68,68,68,0.6);
    
    opacity: 1;
    visibility: visible;

}

///////// Media Queries 


@media only screen and (max-width: 1023px) {

    /// //////////////header 

    header {

       .logo a {
           font-size: 1.4rem;
       }   

   }

   // filter 

   #filter {
      width: 40%;
      height: 100%;
       left: 0;
       bottom: 0;
       position: absolute;
       overflow: hidden;
       top:0;
   }
// listings 
   #listings {
       width: 60%;
       float: right;
       
       .col-md-3 {
        
           width: 50%;
       }

       .pagination {
           width: 100%;
           

         
           .pages {
               li {
                   padding: 20px 25px;
               }



               
           }
       }

   }
// foooteer

   footer {
       font-size: .8rem;

       .play-stores {
           top: 2px;
       }

       .play-stores .play-stores-grid  {
           grid-template-columns: 120px 120px;

           .store-logo-1 img {
               width: 120px;

           }

           .store-logo-2 img {
               width: 120px;

           }
       }

       .extra-info {
           top: 38px;
           div {
               font-size: .8rem;
           }
         div .l {
             font-size: .9rem;
         }
       }

       .footer-image {
           bottom: -40px;
       }

   }

   

}

@media only screen and (max-width: 767px) {
    /// //////////////header 

    header {

        .logo a {
            font-size: 1.3rem;
        }
        nav {
            display: none;
        }

        .menu-logo {
            display: block;
            
        }

    }

    /////////// filter 


    #filter {
        width: 40%;
       height: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        overflow: hidden;
        top:0;
    

        .inside {
            
            h4 {

                font-size: 1.2rem;
    
            }
            .label {
                font-size: 1.1rem;
                      

            }

            select  {
                padding: 7px;
               
            }

            .label-container .label-name {
                font-size: 1rem;
            }

        }

        .title {
            font-size: 1.1rem;

        }
    }

  
    

 

    /////// listings  

    #listings {
        float: right;
        width: 60%;
        .search-area input[type="text"]  {
            width: 70%;
         

        }

        .fa {
            font-size: 1.2rem;
        }

        .sortby-area .results {
            float: none;
            font-size: .9rem;
            color: #ADA8AA;
            text-align: center;
            display: block;
            margin:  0 0 20px 0;
        }

        .sort-options {
           float: none;
           margin:  7px 0 0 0;
           display: block;
           text-align: center ;
           .fa {
               display: none;
           }

           select {
               padding: 13px 13px;
           }
        }

        .col-md-3 {
            display: block;
            vertical-align: top;
            padding: 15px;
           width: 100%;
        }

        .pagination {
            width: 100%;
            border-radius: none !important;

          
            .pages {
                
                height: 100%;
                width: 100%;
                font-size: 1.2rem;
                // padding: 3px;
                border-radius: none;
                border-radius: none !important;

                li {
                    padding: 8px 13px;
   
    
                }
                .active {
                  background-color: transparent;
                  color: $darkgrey;
                  border-bottom: solid 2px $pink;
                   
                }

                li:last-child {
                    display: none !important;
  
       
                }
                li:first-child {
                    display: none !important;
     
       
                }


                
            }
        }
   
    }

    // modal

    #modal-section {
        .modal {
            background: $grey;
            height: 100%;
           width: 100%;
           position: fixed;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           .modal-grid {
            
               height: 100%;
               grid-template-columns: 100%;
            //    justify-items: center;
            //     align-items: center;
               
               .image-container {
                  
                   .image{
                       height: 100%;

                      
                    
                       
                   }
               }
           }

           .close-modal {
           
            position: absolute;
            bottom: 75px;
            left: 48%;
            height: 50px;
            width: 50px;
            .fa {
                font-size: 1.9rem;
                top: 10px;
                right: 8px;
            }
           }

        }
      
    }

    // ////// mobil Nav

    #mobil-nav  {

        .inside {
            .logo {
                position: relative;
                padding: 50px 0 0 0;
                top: -22px;
                .fa {
                    font-size: 1.5rem;

                }
            }
        }

    }



    // ////// footer 

    footer {
        font-size: .7rem;

        .play-stores {
            top: 2px;
        }

        .play-stores .play-stores-grid  {
            grid-template-columns: 100px 100px;

            .store-logo-1 img {
                width: 100px;

            }

            .store-logo-2 img {
                width: 100px;

            }
        }

        .extra-info {
            top: 20px;
            div {
                font-size: .5rem;
            }
          div .l {
              font-size: .8rem;
          }
        }

        .footer-image {
            bottom: -20px;
        }

    }

  

 
   
}









@media only screen and (min-width: 1300px) {
  

}