@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-transform: capitalize !important;
  text-decoration: none;
}

.group:after {
  display: table;
  content: "";
  clear: both;
}

li {
  list-style: none;
}

header {
  background: #74B6B4;
  padding: 20px 15px;
  color: white;
}

header .logo a {
  font-size: 1.6rem;
  color: white;
}

header .logo .fa {
  font-size: 1.6rem;
}

header nav {
  float: right;
}

header nav a {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 10px 20px;
  color: white;
}

header nav a:hover {
  color: #ff718e;
}

header .menu-logo {
  float: right;
  padding: 10px;
  position: relative;
  top: -2;
  display: none;
}

header .menu-logo .fa {
  font-size: 1.2rem;
}

.logo {
  float: left;
}

a.register-btn {
  border-radius: 5px;
  background: #ff718e;
  padding: 7px 25px;
  text-align: center;
  color: white !important;
}

#content-area {
  position: relative;
  width: 100%;
}

#filter {
  display: inline-block;
  position: relative;
  background: #FAF7F5;
  max-width: 300px;
  height: 1304px;
  float: left;
  width: 30%;
}

#filter .inside {
  position: absolute;
  padding: 20px;
  top: 20px;
}

#filter .inside h4 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 25px;
}

#filter .inside select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  border-radius: 3px;
  margin: 0 0 25px;
  color: #1b1b1b;
  font-size: 16px;
  display: block;
  outline: none;
  padding: 4px;
  width: 100%;
}

#filter .inside .label {
  font-size: 1.3rem;
  margin: 0 0 5px;
  color: #ADA8AA;
}

#filter .inside input[type="text"] {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 2.5%;
  border-radius: 5px;
  font-size: 1rem;
  padding: .4rem;
  outline: none;
  border: none;
  width: 45%;
}

#filter .inside .label-container .label-name {
  display: inline-block;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 20px 0;
  width: 80%;
  float: left;
}

#filter .inside .label-container input[type='checkbox'] {
  position: relative;
  top: 20px;
  width: 20%;
  display: inline-block;
  float: right;
}

.filters .title {
  font-size: 1.3rem;
  margin: 0 0 1rem;
  color: #ADA8AA;
  display: block;
}

.extras label {
  margin: 0 0 25px;
  display: block;
}

.extras label input[type="checkbox"] {
  display: block;
  float: right;
}

#filter .filter-image-container {
  position: absolute;
  bottom: 0;
}

#filter .filter-image-container img {
  width: 100%;
}

.border-design {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 50px;
}

#listings {
  display: inline-block;
  padding: 15px;
  float: left;
  width: 70%;
}

#listings .fa-search {
  padding: 0 10px 0 0;
  font-size: 1.5rem;
  color: #ADA8AA;
  opacity: .4;
}

#listings .fa {
  color: #ADA8AA;
  opacity: .4;
}

#listings .search-area input[type="text"] {
  border-bottom: 2px solid #FAF7F5 !important;
  background: transparent;
  color: #D1CBCD;
  margin: 0 0 20px;
  font-size: 2rem;
  outline: none;
  border: none;
  width: 70%;
}

.sortby-area {
  margin-bottom: 20px;
}

.sortby-area .results {
  display: inline-block;
  font-size: .8rem;
  color: #ADA8AA;
}

.sort-options {
  float: right;
}

.sort-options select {
  border: 1px solid #D1CBCD;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 15px;
  font-size: .9rem;
  font-weight: 300;
  outline: none;
  padding: 5px;
}

.sort-options .view {
  display: inline-block;
}

.sort-options .view .fa {
  margin-right: 15px;
  font-size: 1.5rem;
}

.listings-results {
  position: relative;
  margin: 0 0 60px;
}

.listings-results .address {
  text-shadow: 1px 0px 3px black;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  position: absolute;
  font-size: 1.2rem;
  bottom: 20px;
  opacity: 1;
}

.listings-results .listings {
  -webkit-box-shadow: 0 0 15px 0 #e0e0e0;
  box-shadow: 0 0 15px 0 #e0e0e0;
  background: #FFFEFF;
  border-radius: 5px;
}

.listing-img {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-size: cover !important;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: cover;
  position: relative;
  min-height: 220px;
  cursor: pointer;
  color: #fff;
  padding: 15px;
}

.listing-img:hover .details {
  opacity: 1;
}

.listing-img:hover .address {
  opacity: 0;
}

.details {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(56%, rgba(116, 182, 180, 0.8)), to(rgba(116, 182, 180, 0.9)));
  background-image: linear-gradient(90deg, rgba(116, 182, 180, 0.8) 56%, rgba(116, 182, 180, 0.9) 100%);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  padding: 30px;
  opacity: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.user-img {
  background: url(https://img.pngio.com/user-logos-user-logo-png-1920_1280.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: 1px solid #fff;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.user-details {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
  width: 70%;
}

.user-details .user-name {
  color: white;
  margin: 3px 0 3px 0;
  font-size: 0.9rem;
  font-weight: 300;
  display: block;
}

.user-details .post-date {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  display: block;
}

.listing-details {
  margin: 20px 0 0 0;
}

.listing-details .fa {
  display: inline-block;
  margin: 0 15px 0 0;
}

.listing-details span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-weight: 300;
  font-size: .8rem;
}

.listing-details .floor-space span {
  left: 6px;
}

.listing-details .bathrooms span {
  left: 2px;
}

.bottom-info {
  color: #D1CBCD;
  padding: 15px;
}

.bottom-info .price {
  margin: 0 0 10px;
  font-size: 1rem;
  display: block;
  color: #74B6B4;
}

.bottom-info .price .month-label {
  color: #ADA8AA;
}

.bottom-info .location {
  font-size: 1.2rem;
  display: block;
}

.bottom-info .location .fa {
  padding: 0 5px 0 0;
}

.col-md-3 {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 33%;
}

.col-lg-6 {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 50%;
}

.pagination {
  padding: 0 0 60px;
  text-align: center;
}

.pagination .pages {
  -webkit-box-shadow: 0 0 15px 0 #e0e0e0;
  box-shadow: 0 0 15px 0 #e0e0e0;
  border-radius: 50px !important;
  display: inline-block;
  background: white;
}

.pagination .pages li {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  display: inline-block;
  padding: 20px 30px;
  font-weight: 700;
  color: #ADA8AA;
}

.pagination .pages li.active, .pagination .pages li:hover {
  border-radius: 1px !important;
  text-align: center;
  position: relative;
  background: #ff718e;
  cursor: pointer;
  color: #fff;
}

.pagination .pages li:first-child {
  background: white !important;
  border-radius: 50px !important;
  color: #ADA8AA !important;
}

.pagination .pages li:last-child {
  background: white !important;
  border-radius: 50px !important;
  color: #ADA8AA !important;
}

#modal-section {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: rgba(0, 0, 0, 0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 0;
}

#modal-section.active {
  background: rgba(0, 0, 0, 0.75);
  visibility: visible;
  opacity: 1;
}

#modal-section .modal {
  background: white;
  position: relative;
  border-radius: 5px;
  max-width: 600px;
  padding: 20px;
}

#modal-section .modal .close-modal {
  position: relative;
  text-align: center;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  display: block;
  float: right;
  height: 30px;
  width: 30px;
}

#modal-section .modal .close-modal .fa {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  left: 8px;
  top: 5px;
}

.modal-grid {
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.modal .modal-grid .image-container .image {
  background: center center no-repeat;
  background-size: cover;
  height: 100%;
}

.modal .modal-grid .info .info-line span {
  font-weight: 300;
  margin: 5px 0 0;
  display: block;
}

.modal .modal-grid .info .info-line h2 {
  font-weight: 800;
  color: #74B6B4;
}

.modal .modal-grid .info p {
  margin: 10px 0 0;
}

footer {
  padding: 60px 50px 0px 50px;
  background: #74B6B4;
  position: relative;
  margin-top: auto;
  overflow: hidden;
  color: white;
}

footer .footer-info {
  text-align: center;
  font-style: italic;
  font-size: .8rem;
}

footer .footer-info .info-1 {
  margin: 0 0 20px;
}

footer .footer-info .info-2 {
  margin: 0 0 20px;
}

footer .play-stores {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 30px;
}

footer .play-stores .play-stores-grid {
  -ms-grid-columns: 150px 150px;
      grid-template-columns: 150px 150px;
  display: -ms-grid;
  display: grid;
}

footer .play-stores .play-stores-grid .store-logo-1 img {
  width: 150px;
}

footer .play-stores .play-stores-grid .store-logo-2 img {
  width: 150px;
}

footer .extra-info {
  text-align: center;
  position: relative;
  top: 90px;
}

footer .extra-info div {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 auto;
  float: left;
  width: 33.3%;
}

footer .extra-info div .l {
  font-size: 20px;
  padding: 0 0 0 5px;
}

footer .footer-image {
  position: relative;
  bottom: -93px;
}

footer .footer-image img {
  display: inline-block;
  width: 50%;
  float: left;
}

#mobil-nav {
  overflow: hidden;
  background: #74B6B4;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 11;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.6);
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  opacity: 0;
  visibility: hidden;
}

#mobil-nav .inside {
  padding: 10px;
}

#mobil-nav .inside .header-title {
  color: #fff;
  font-size: 1.3rem;
  min-width: 100%;
  background: #ff718e;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}

#mobil-nav .inside .close-nav {
  display: inline-block;
  position: fixed;
  padding: 15px;
  right: 0;
  top: -4px;
  background: red;
  height: 49px;
  width: 45px;
  cursor: pointer;
}

#mobil-nav .inside .close-nav .fa {
  color: #fff;
  font-size: 1.2rem;
}

#mobil-nav .inside nav div {
  font-size: 1.2rem;
  border-bottom: solid 1px #D1CBCD;
  padding: 65px 0 50px 0;
}

#mobil-nav .inside nav div a {
  padding: 10px;
  color: #fff;
}

#mobil-nav .inside nav div .fa {
  color: #D1CBCD;
}

#mobil-nav .inside .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px 0 0 0;
}

#mobil-nav .inside .logo .fa {
  color: #fff;
  font-size: 3rem;
}

#mobil-nav.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(68, 68, 68, 0.6);
  box-shadow: -1px 0px 5px 0px rgba(68, 68, 68, 0.6);
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1023px) {
  header .logo a {
    font-size: 1.4rem;
  }
  #content-area #filter {
    width: 40%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
  }
  #content-area #listings {
    width: 60%;
    float: right;
  }
  #content-area #listings .col-md-3 {
    width: 50%;
  }
  #content-area #listings .pagination {
    width: 100%;
  }
  #content-area #listings .pagination .pages li {
    padding: 20px 25px;
  }
  footer {
    font-size: .8rem;
    margin-top: auto;
  }
  footer .play-stores {
    top: 2px;
  }
  footer .play-stores .play-stores-grid {
    -ms-grid-columns: 120px 120px;
        grid-template-columns: 120px 120px;
  }
  footer .play-stores .play-stores-grid .store-logo-1 img {
    width: 120px;
  }
  footer .play-stores .play-stores-grid .store-logo-2 img {
    width: 120px;
  }
  footer .extra-info {
    top: 38px;
  }
  footer .extra-info div {
    font-size: .8rem;
  }
  footer .extra-info div .l {
    font-size: .9rem;
  }
  footer .footer-image {
    bottom: -40px;
  }
}

@media only screen and (max-width: 767px) {
  header .logo a {
    font-size: 1.3rem;
  }
  header nav {
    display: none;
  }
  header .menu-logo {
    display: block;
  }
  #content-area #filter {
    width: 40%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
  }
  #content-area #filter .inside h4 {
    font-size: 1.2rem;
  }
  #content-area #filter .inside .label {
    font-size: 1.1rem;
  }
  #content-area #filter .inside select {
    padding: 7px;
  }
  #content-area #filter .inside .label-container .label-name {
    font-size: 1rem;
  }
  #content-area #filter .title {
    font-size: 1.1rem;
  }
  #content-area #listings {
    float: right;
    width: 60%;
  }
  #content-area #listings .search-area input[type="text"] {
    width: 70%;
  }
  #content-area #listings .fa {
    font-size: 1.2rem;
  }
  #content-area #listings .sortby-area .results {
    float: none;
    font-size: .9rem;
    color: #ADA8AA;
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
  }
  #content-area #listings .sort-options {
    float: none;
    margin: 7px 0 0 0;
    display: block;
    text-align: center;
  }
  #content-area #listings .sort-options .fa {
    display: none;
  }
  #content-area #listings .sort-options select {
    padding: 13px 13px;
  }
  #content-area #listings .col-md-3 {
    display: block;
    vertical-align: top;
    padding: 15px;
    width: 100%;
  }
  #content-area #listings .pagination {
    width: 100%;
    border-radius: none !important;
  }
  #content-area #listings .pagination .pages {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    border-radius: none;
    border-radius: none !important;
  }
  #content-area #listings .pagination .pages li {
    padding: 8px 13px;
  }
  #content-area #listings .pagination .pages .active {
    background-color: transparent;
    color: #ADA8AA;
    border-bottom: solid 2px #ff718e;
  }
  #content-area #listings .pagination .pages li:last-child {
    display: none !important;
  }
  #content-area #listings .pagination .pages li:first-child {
    display: none !important;
  }
  #modal-section .modal {
    background: #FAF7F5;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #modal-section .modal .modal-grid {
    height: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #modal-section .modal .modal-grid .image-container .image {
    height: 100%;
  }
  #modal-section .modal .close-modal {
    position: absolute;
    bottom: 75px;
    left: 48%;
    height: 50px;
    width: 50px;
  }
  #modal-section .modal .close-modal .fa {
    font-size: 1.9rem;
    top: 10px;
    right: 8px;
  }
  #mobil-nav .inside .logo {
    position: relative;
    padding: 50px 0 0 0;
    top: -22px;
  }
  #mobil-nav .inside .logo .fa {
    font-size: 1.5rem;
  }
  footer {
    font-size: .7rem;
    margin-top: auto;
  }
  footer .play-stores {
    top: 2px;
  }
  footer .play-stores .play-stores-grid {
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
  }
  footer .play-stores .play-stores-grid .store-logo-1 img {
    width: 100px;
  }
  footer .play-stores .play-stores-grid .store-logo-2 img {
    width: 100px;
  }
  footer .extra-info {
    top: 20px;
  }
  footer .extra-info div {
    font-size: .5rem;
  }
  footer .extra-info div .l {
    font-size: .8rem;
  }
  footer .footer-image {
    bottom: -20px;
  }
}
/*# sourceMappingURL=app.css.map */