@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-transform: capitalize !important;
  text-decoration: none;
}

.group:after {
  display: table;
  content: "";
  clear: both;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background: #74B6B4;
  padding: 20px 15px;
  color: white;
}

header .logo a {
  font-size: 1.6rem;
  color: white;
}

header .logo .fa {
  font-size: 1.6rem;
}

header nav {
  float: right;
}

header nav a {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 10px 20px;
  color: white;
}

header nav a:hover {
  color: #ff718e;
}

header .menu-logo {
  float: right;
  padding: 10px;
  position: relative;
  top: -2;
  display: none;
}

header .menu-logo .fa {
  font-size: 1.2rem;
}

.logo {
  float: left;
}

a.register-btn {
  color: white !important;
  border-radius: 5px;
  background: #ff718e;
  padding: 7px 25px;
  text-align: center;
}

#background-image {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(116, 182, 180, 0.4)), to(rgba(116, 182, 180, 0.3))), url(https://i.postimg.cc/bwcMKPhp/background-home-image.jpg) center center no-repeat;
  background: linear-gradient(0deg, rgba(116, 182, 180, 0.4) 0%, rgba(116, 182, 180, 0.3) 100%), url(https://i.postimg.cc/bwcMKPhp/background-home-image.jpg) center center no-repeat;
  background-size: cover;
  padding: 180px 0px;
  position: relative;
  text-align: center;
}

#background-image .title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.2rem;
  color: #fff;
}

#background-image .view-btn {
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 7px;
  display: inline-block;
  background: #ff718e;
  padding: 15px 30px;
  position: relative;
  top: 100px;
  color: white;
}

#background-image .view-btn:hover {
  -webkit-box-shadow: inset 0px 0px 175px -56px #e9e9f2;
  box-shadow: inset 0px 0px 175px -56px #e9e9f2;
}

#planning-section {
  padding: 120px 0;
  background: #FAF7F5;
}

#planning-section .planning-card {
  -webkit-box-shadow: 0px 0px 8px 0px #d1d1d5;
          box-shadow: 0px 0px 8px 0px #d1d1d5;
  background: white;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 380px;
}

#planning-section .planning-card .header {
  padding: 15px;
  background: #74B6B4;
}

#planning-section .planning-card .img-container {
  width: 280px;
  margin: 0 auto;
}

#planning-section .planning-card .img-container img {
  width: 100%;
}

#planning-section .planning-card .card-info {
  text-align: center;
  padding: 0 15px;
}

#planning-section .planning-card .card-info h3 {
  text-transform: capitalize;
  color: #ADA8AA;
  font-size: 1.5rem;
  margin: 0 0 20px;
  font-weight: 600;
}

#planning-section .planning-card .card-info p {
  color: #D1CBCD;
  font-weight: 500;
}

#planning-section .vector-img-container img {
  width: 400px;
}

.col {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  float: left;
}

#mobil-nav {
  overflow: hidden;
  background: #74B6B4;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 11;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.6);
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  opacity: 0;
  visibility: hidden;
}

#mobil-nav .inside {
  padding: 10px;
}

#mobil-nav .inside .header-title {
  color: #fff;
  font-size: 1.3rem;
  min-width: 100%;
  background: #ff718e;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}

#mobil-nav .inside .close-nav {
  display: inline-block;
  position: fixed;
  padding: 15px;
  right: 0;
  top: 1px;
  background: red;
  height: 49px;
  width: 45px;
  cursor: pointer;
}

#mobil-nav .inside .close-nav .fa {
  color: #fff;
  font-size: 1.2rem;
}

#mobil-nav .inside nav div {
  font-size: 1.2rem;
  border-bottom: solid 1px #D1CBCD;
  padding: 65px 0 50px 0;
}

#mobil-nav .inside nav div a {
  padding: 10px;
  color: #fff;
}

#mobil-nav .inside nav div .fa {
  color: #D1CBCD;
}

#mobil-nav .inside .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px 0 0 0;
}

#mobil-nav .inside .logo .fa {
  color: #fff;
  font-size: 3rem;
}

#mobil-nav.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(68, 68, 68, 0.6);
  box-shadow: -1px 0px 5px 0px rgba(68, 68, 68, 0.6);
  opacity: 1;
  visibility: visible;
}

footer {
  padding: 60px 50px 0px 50px;
  background: #74B6B4;
  position: relative;
  overflow: hidden;
  color: white;
}

footer .footer-info {
  text-align: center;
  font-style: italic;
  font-size: .8rem;
}

footer .footer-info .info-1 {
  margin: 0 0 20px;
}

footer .footer-info .info-2 {
  margin: 0 0 20px;
}

footer .play-stores {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 30px;
}

footer .play-stores .play-stores-grid {
  -ms-grid-columns: 150px 150px;
      grid-template-columns: 150px 150px;
  display: -ms-grid;
  display: grid;
}

footer .play-stores .play-stores-grid .store-logo-1 img {
  width: 150px;
}

footer .play-stores .play-stores-grid .store-logo-2 img {
  width: 150px;
}

footer .extra-info {
  text-align: center;
  position: relative;
  top: 90px;
}

footer .extra-info div {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 auto;
  float: left;
  width: 33.3%;
}

footer .extra-info div .l {
  font-size: 20px;
  padding: 0 0 0 5px;
}

footer .footer-image {
  position: relative;
  bottom: -93px;
}

footer .footer-image img {
  display: inline-block;
  width: 50%;
  float: left;
}

@media only screen and (max-width: 1023px) {
  header .logo a {
    font-size: 1.4rem;
  }
  #planning-section .col {
    width: 50%;
  }
  #planning-section .planning-card {
    width: 90%;
  }
  footer {
    font-size: .8rem;
  }
  footer .play-stores {
    top: 2px;
  }
  footer .play-stores .play-stores-grid {
    -ms-grid-columns: 120px 120px;
        grid-template-columns: 120px 120px;
  }
  footer .play-stores .play-stores-grid .store-logo-1 img {
    width: 120px;
  }
  footer .play-stores .play-stores-grid .store-logo-2 img {
    width: 120px;
  }
  footer .extra-info {
    top: 38px;
  }
  footer .extra-info div {
    font-size: .8rem;
  }
  footer .extra-info div .l {
    font-size: .9rem;
  }
  footer .footer-image {
    bottom: -40px;
  }
}

@media only screen and (max-width: 767px) {
  header .logo a {
    font-size: 1.3rem;
  }
  header nav {
    display: none;
  }
  header .menu-logo {
    display: block;
  }
  #planning-section .col {
    display: block;
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
  #planning-section .planning-card {
    width: 90%;
    height: 550px;
  }
  #mobil-nav .inside .logo {
    position: relative;
    padding: 50px 0 0 0;
    top: -22px;
  }
  #mobil-nav .inside .logo .fa {
    font-size: 1.5rem;
  }
  footer {
    font-size: .7rem;
  }
  footer .play-stores {
    top: 2px;
  }
  footer .play-stores .play-stores-grid {
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
  }
  footer .play-stores .play-stores-grid .store-logo-1 img {
    width: 100px;
  }
  footer .play-stores .play-stores-grid .store-logo-2 img {
    width: 100px;
  }
  footer .extra-info {
    top: 20px;
  }
  footer .extra-info div {
    font-size: .5rem;
  }
  footer .extra-info div .l {
    font-size: .8rem;
  }
  footer .footer-image {
    bottom: -20px;
  }
}
/*# sourceMappingURL=home.css.map */